body {
    padding:0;
    margin: 0;
    border : 0;
    color: rgba(36, 21, 133, 1);
    font-family: "Noto Sans", sans-serif;
    text-align:center;
}
#abstract {
    color:white;
    background-color:rgba(40,54,120, 0.95);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(30,44,110);
    position:fixed;
    width:50%;
    visibility:hidden;
    font-size:150%;
    margin-left:25%;
    text-align:left;
    padding:1em;
    border-radius: 25px;
}
#close-abstract {
    float:right;
    margin-left:100%;
    margin-bottom:1px;
}
#container{
    background-image: url('img/Running.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#header{
    height:17%;
    width:100%;
    background-color: rgba(217, 231, 249, .65);
    position:relative;
}
h1 {
    padding:0;
    margin: 0;
    border : 0;
}
#top-main{
    padding:0;
    margin: 0;
    border : 0;
    width:100%;
    color:rgba(250, 250, 250, 1);
    font-size: 425%;
    text-align:center;
    background-color: rgba(40,54,92,.7);
    
}

#page-break{
    height:2%;
    background-color:rgba(165, 220, 241, .7);
}


#bottom-main{
    width:100%;
    height:51%;
    font-size:200%;
    background-color: rgba(217, 231, 249, .65);
}

#full-name{
    margin:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    bottom:0;
    font-size:1.7rem;
}

#about{
    font-size:1.525rem;
}

.h-buttons{
    margin-right:.65%;
    font-size: 1.20rem;
    float:right;
}

.applications{
    width : 100%;
    height: 55%;
    margin: 0 auto;
    font-size: 1.80rem;
} 

button{
    border-color: rgba(36, 21, 133, 1);
    border-width:6px;
    font-family: "Noto Sans", sans-serif;
    color:F9F8F8;
    background-color: rgba(112, 118, 207, 1);
}

button:hover{
    background-color: rgba(131, 152, 222, 1);
    cursor:pointer;
}

table {
    width:40%;
    height:70%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

tr{
    width:100%;
    height:50%;
    text-align:center;
}
td {
    padding-left : 1em;
    padding-right : 1em;
}
