#container{
    background-repeat: no-repeat;
    background-size:cover;
}

#title{
    padding-top:3%;
}

#header{
    width:100%;
    height:20%;
    font-size: 500%;
    text-align:center;
    background-color: rgba(40,54,92,.8);
    font-size:4.5rem; 
    font-family: "Merriweather";
    color:#FFFFFF; 
}

#main{
    width:100%;
    height:80%;
    background-color: rgba(217, 231, 249, .9);
    color: rgba(0, 0, 0, 1);
}

#shooter-main{
    width:100%;
    height:80%;
    background-color: rgba(217, 231, 249, .9);
    color: rgba(0, 0, 0, 1);
    padding-left:20%;
}

#left{
    float:left;
}

#inp{
    width:28rem;
    height:1.5rem;
}

#submit-name{
    width:25%;
    height:6%;
    font-size:1.2rem;
}
#right
{
    float:left;
}

#enter-names{
    padding-left:2%;
    display:none;
}

#submit{
    width:8%;
    height:5%;
    position:fixed;
    font-size:1.4rem;
    bottom:2rem;
    right:2rem;
}


.questions{
    text-align:left;
    font-size:2.3rem;
    font-family: Tahoma;
}

.buttons{
    font-size:1.6rem;
    line-height: 2.2rem;
    padding-left:5%;
    text-align:left;
}

button{
    border-color: rgba(36, 21, 133, 1);
    border-width:6px;
    font-family: "Noto Sans", sans-serif;
    color:F9F8F8;
    background-color: rgba(112, 118, 207, 1);
}