body {
    font-family : "Source Code Pro";
}
h1 {
    margin-top : 0.75em;
    text-align: center;
}
#sidebar {
    width : 225;
    height : 400;
    background-color: #DDDDDD;
}
#searchbar {
    width : 50%;
    margin-left : 25%;
    text-align:  center;
}
#searchbar-wrap {
    width : 100%;
}

#slider{
    margin-left: 8.5%;
    font-family: "Verdana";
}
#slide {
    width : 75%;
}

#pause{
    width : 65;
}
#not-found {
    color: red;
    text-align: center;
    visibility : hidden;
}
