body {
    font-family : "Source Code Pro";
}
h1 {
    text-align: center;
}
#sidebar {
    width : 225;
    height : 400;
    background-color: #DDDDDD;
}
#searchbar {
    width : 75%;
    text-align:  center;
}
#searchbar-wrap {
    text-align: center;
}
